<article class="box">
    <div class="box-title">
        <p>{{title}}</p>
        <p>Posted by {{user.username}} on {{format_date created_at}}</p>
    </div>
    <div class="box-content">{{content}}</div>
</article>