<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/dashboard">Dashboard</a>
                </li>

                {{#if loggedIn}}
                <li id="logout">
                    <a href="javascript:;">Logout</a>
                </li>
                {{else}}
                <li>
                    <a href="/login">login</a>
                </li>
                {{/if}}

            </ul>
        </nav>
        <h1>The Tech Blog</h1>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        {{!-- Thanks for visiting --}}
    </footer>
    {{#if loggedIn}}
    <script src="/javascripts/logout.js"></script>
    {{/if}}
</body>

</html>
