<div class="single-post box">
    <div class="box-title">
        Edit Post
    </div>
    <div class="box-content">

        <form class="form">
            <label for="title">Title</label>
            <input type="text" id="title" value="{{title}}">
            <label for="content">Content</label>
            <textarea id="content">{{content}}</textarea>
            <button type='submit'>Update</button>
            <button type='button' class="deleteBtn">Delete</button>
        </form>
    </div>
</div>
<script src="/javascripts/update-post.js"></script>
<script src="/javascripts/delete-post.js"></script>