<div class="loginForm box">
    <div class="box-title">Login</div>
    <div class="box-content">
        <form class="form">
            <label for="username">Username</label>
            <input type="text" id="username">

            <label for="password">Password</label>
            <input type="text" id="password">
            <button type="submit">Login!</button>
        </form>
        <div class="link">
            <a href="/signup">Sign up instead</a>
        </div>
    </div>
</div>
<script src="/javascripts/login.js"></script>