<div class="signupForm box">
    <div class="box-title">Sign Up</div>
    <div class="box-content">
        <form class="form">
            <label for="username">Username</label>
            <input type="text" name="" id="username">
            <label for="email">Email</label>
            <input type="text" name="" id="email">
            <label for="password">Password</label>
            <input type="text" name="" id="password">
            <button>Sign Up!</button>
        </form>
        <div class="link">
            <a href="/login">Login instead</a>
        </div>
    </div>
</div>
<script src="/javascripts/signup.js"></script>